.idea
venv
src/deutschl
src/midi resources
src/output/midi/*
src/dataset
src/csv/clean_melodies_data.csv
src/credentials.json
src/metluha_loh.mid
src/csv/my_melodies.csv
src/token.pickle
src/token_drive_v3.pickle